<%- include('../partials/header')%>
<div class="container">
    <h1 class="card-title">Profile</h1>
    <hr>
    <h2 class="card-title" style="color: #747474; font-family: avro;">Hello <%=user.firstname%>
        <%=user.lastname %>!</h2>
    <div class="col-md-12 b">
        <form action="" method="POST">
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputEmail" value="<%= data.email %>" placeholder="" disabled>
                </div>
            </div>

            <div class="form-group row was-validated">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control is-invalid" id="inputPassword"
                    placeholder="Masukkan Password" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputFirstname" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" name="firstname" class="form-control" id="inputFirstname" value="<%= data.firstname %>" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputLastname" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" name="lastname" class="form-control" id="inputLastname" value="<%= data.lastname %>" placeholder="">
                </div>
            </div>

            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input id="manager" type="radio" name="position" class="form-check-input"
                         value="Manager" <%= data.position == 'Manager' ? 'checked' : '' %>>
                        <label for="manager" class="form-check-label">
                            Manager
                        </label>
                    </div>

                    <div class="form-check">
                        <input id="softwareDeveloper" type="radio" name="position" class="form-check-input"
                            value="Software Developer" <%= data.position == 'Software Developer' ? 'checked' : '' %>>
                        <label for="softwareDeveloper" class="form-check-label">
                            Software Developer
                        </label>
                    </div>

                    <div class="form-check">
                        <input id="qualityAssurance" type="radio" name="position" class="form-check-input"
                            value="Quality Assurance" <%= data.position == 'Quality Assurance' ? 'checked' : '' %>>
                        <label for="qualityAssurance" class="form-check-label">
                            Quality Assurance
                        </label>
                    </div>

                </div>
            </div>

            <div class="row b">
                <legend class="col-form-label col-sm-2 pt-0">Type Job</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input id="fullTime" type="checkbox" name="typejob" class="form-check-input" value="Full Time"
                        <%= data.typejob == 'Full Time' ? 'checked' : '' %>>
                        <label for="fullTime" class="form-check-label">
                            Full Time 
                        </label>
                    </div>

                    <div class="form-check">
                        <input id="partTime" type="checkbox" name="typejob" class="form-check-input"
                            value="Part Time" <%= data.position == 'Part Time' ? 'checked' : '' %>>
                        <label for="partTime" class="form-check-label">
                            Part Time
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
</div>

<%- include('../partials/footer')%>