<%- include('../../partials/header')%>
<%- include('../../partials/sidebar')%>
<div class="container">
    <h1 class="card-title">Edit Issues</h1>
    <div class="name" style="background-color: rgb(157, 177, 177);">
        <h3 style="text-align: right;">
            <small class="text-black" style="padding: 30px;">#<%=projectid%> <%= project.name%></small>
        </h3>
    </div>
    <hr>
</div>
<%- include('../../partials/footer')%>