<%- include('../../partials/header')%>
<%- include('../../partials/sidebar')%>
<div class="container">
    <h1 class="card-title">Edit Issues</h1>
    <div class="name" style="background-color: rgb(157, 177, 177);">
        <h3 style="text-align: right;">
            <small class="text-black" style="padding: 30px;">#<%=projectid%> <%= project.name%></small>
        </h3>
    </div>
    <hr>
    <div class="card">
        <h5 class="card-header card text-white bg-dark mb-3">Edit issues of projects</h5>
        <div class="card-body">

            <form method="POST" encType="multipart/form-data">
                <input type="hidden" name="olddone" value="<%=issue.done%>">
                <input type="hidden" name="oldspent" value="<%=issue.spenttime == null ? '0' : issue.spenttime%>">
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Tracker</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tracker" id="bug" value="Bug"
                                    <%= issue.tracker == 'Bug' ? 'checked' : 'disabled' %>>
                                <label class="form-check-label" for="bug">
                                    Bug
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tracker" id="feature" value="Feature"
                                    <%= issue.tracker == 'Feature' ? 'checked' : 'disabled' %>>
                                <label class="form-check-label" for="feature">
                                    Feature
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tracker" id="support" value="Support"
                                    <%= issue.tracker == 'Support' ? 'checked' : 'disabled' %>>
                                <label class="form-check-label" for="support">
                                    Support
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group row">
                    <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject"
                            value="<%=issue.subject%>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="desc" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="desc" name="description"
                            placeholder="Description"><%=issue.description%></textarea>
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="new" value="new"
                                    <%= issue.status == 'new' ? 'checked' : '' %>>
                                <label class="form-check-label" for="new">
                                    New
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="inProgress"
                                    value="inProgress" <%= issue.status == 'inProgress' ? 'checked' : '' %>>
                                <label class="form-check-label" for="inProgress">
                                    In Progress
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="resolved"
                                    value="resolved" <%= issue.status == 'resolved' ? 'checked' : '' %>>
                                <label class="form-check-label" for="resolved">
                                    Resolved
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="feedback"
                                    value="feedback" <%= issue.status == 'feedback' ? 'checked' : '' %>>
                                <label class="form-check-label" for="feedback">
                                    Feedback
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="closed" value="closed"
                                    <%= issue.status == 'closed' ? 'checked' : '' %>>
                                <label class="form-check-label" for="closed">
                                    Closed
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="rejected"
                                    value="rejected" <%= issue.status == 'rejected' ? 'checked' : '' %>>
                                <label class="form-check-label" for="rejected">
                                    Rejected
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="priority" id="normal" value="normal"
                                    <%= issue.priority == 'normal' ? 'checked' : '' %>>
                                <label class="form-check-label" for="normal">
                                    Normal
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="priority" id="high" value="high"
                                    <%= issue.priority == 'high' ? 'checked' : '' %>>
                                <label class="form-check-label" for="high">
                                    High
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="priority" id="urgent" value="urgent"
                                    <%= issue.priority == 'urgent' ? 'checked' : '' %>>
                                <label class="form-check-label" for="urgent">
                                    Urgent
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="priority" id="immediate"
                                    value="immediate" <%= issue.priority == 'immediate' ? 'checked' : '' %>>
                                <label class="form-check-label" for="immediate">
                                    Immediate
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group row">
                    <label for="assignee" class="col-sm-2 col-form-label">
                        Assignee</label>
                    <div class="col-sm-10">
                        <select class="custom-select" name="assignee" required="">
                            <option>Choose the Assignee ...</option>
                            <%member.forEach(item => {%>
                            <option value="<%=item.userid%>" <%=item.userid == issue.assignee ? 'selected' : "" %>>
                                <%=item.fullname%></option>
                            <%})%>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="startDate" name="startdate"
                            value="<%= moment(issue.startdate).format('YYYY-MM-DD')%>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="dueDate" name="duedate"
                            value="<%= moment(issue.duedate).format('YYYY-MM-DD')%>">
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="estimatedTime" class="col-sm-2 col-form-label">Estimated Time
                    </label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="estimatedTime" name="estimatedtime"
                            value="<%= issue.estimatedtime %>" placeholder="Estimated Time" disabled>
                        <small id="estimatedTime" class="form-text text-muted">
                            Insert Estimated Time by Hours
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="done" class="col-sm-2 col-form-label">
                        Done</label>
                    <div class="col-sm-10">
                        <select class="custom-select" name="done" required="">
                            <option>Choose the Percentage ...</option>
                            <option value="0" <%= issue.done == 0 ? 'selected' : ''%>>0%</option>
                            <option value="10" <%= issue.done == 10 ? 'selected' : ''%>>10%</option>
                            <option value="20" <%= issue.done == 20 ? 'selected' : ''%>>20%</option>
                            <option value="30" <%= issue.done == 30 ? 'selected' : ''%>>30%</option>
                            <option value="40" <%= issue.done == 40 ? 'selected' : ''%>>40%</option>
                            <option value="50" <%= issue.done == 50 ? 'selected' : ''%>>50%</option>
                            <option value="60" <%= issue.done == 60 ? 'selected' : ''%>>60%</option>
                            <option value="70" <%= issue.done == 70 ? 'selected' : ''%>>70%</option>
                            <option value="80" <%= issue.done == 80 ? 'selected' : ''%>>80%</option>
                            <option value="90" <%= issue.done == 90 ? 'selected' : ''%>>90%</option>
                            <option value="100" <%= issue.done == 100 ? 'selected' : ''%>>100%</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputFile" class="col-sm-2 col-form-label">File</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputFile" name="file">
                            <label class="custom-file-label" for="inputFile">Choose file</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-outline-dark">Add</button>
                        <a class="btn btn-outline-secondary" href="/projects/issues/<%=projectid%>"
                            role="button">Back</a>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer')%>