<%- include('../../partials/header')%>
<%- include('../../partials/sidebar')%>
<div class="container">
    <!-- filter -->
    <h1 class="card-title">Projects Issues</h1>
    <div class="name" style="background-color: rgb(157, 177, 177);">
        <h3 style="text-align: right;">
            <small class="text-black" style="padding: 30px;">#<%=projectid%> <%= project.name%></small>
        </h3>
    </div>
    <hr>
    <h3 class="card-title">Filters</h3>
    <div class="col-md-12">
        <form method="get" id="filterForm">
            <input type="hidden" name="page" value="1">
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">
                    <input class="form-check-input" name="checkId" type="checkbox" id="id">
                    ID
                </label>
                <div class="col-sm-10">
                    <input type="number" name="issuesId" class="form-control" id="id" placeholder="Issues ID">
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">
                    <input class="form-check-input" name="checkSubject" type="checkbox" id="name">
                    Subject
                </label>
                <div class="col-sm-10">
                    <input type="text" name="issuesSubject" class="form-control" id="name" placeholder="Issues Subject">
                </div>
            </div>

            <div class="form-group row">
                <label for="issuesTracker" class="col-sm-2 col-form-label">
                    <input class="form-check-input" name="checkTracker" type="checkbox" id="issuesTracker">
                    Tracker
                </label>
                <div class="col-sm-10">
                    <select id="issuesTracker" class="custom-select custom-select" name="issuesTracker">
                        <option selected disabled>Choose the issues ...</option>
                        <option value="Bug">Bug</option>
                        <option value="Feature">Feature</option>
                        <option value="Support">Support</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-dark">Search</button>

                    <a href="#">
                        <button type="submit" class="btn btn-outline-dark">reset</button>
                    </a>

                </div>
            </div>
        </form>
    </div>

    <!-- checkbox -->
    <div class="container contable">
        <h3 class="card-title">Options</h3>
        <div class="col-sm-2">
            <form action="" method="POST">
                <p>Columns</p>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkid" value="true" id="oid"
                            <%= option.checkid ? `checked` : `` %>>
                        <label class="form-check-label" for="oid">
                            ID
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checksubject" value="true" id="oname"
                            <%= option.checksubject ? `checked` : `` %>>
                        <label class="form-check-label" for="oname">
                            Subject
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checktracker" value="true" id="oposition"
                            <%= option.checktracker ? `checked` : `` %>>
                        <label class="form-check-label" for="oposition">
                            Tracker
                        </label>
                    </div>
                </div>
                <div class="apply">
                    <button class="btn btn-outline-primary" type="submit">Apply</button>
                </div>
            </form>
        </div>

        <!-- table -->
        <div class="card2">
            <div class="card-body tb">
                <div class="table">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th <%= option.checkid ? `` : `hidden` %>>ID</th>
                                <th <%= option.checksubject ? `` : `hidden` %>>Subject</th>
                                <th <%= option.checktracker ? `` : `hidden` %>>Tracker</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% issues.forEach (item => {%>
                            <tr>
                                <td <%= option.checkid ? `` : `hidden`%><%= item.issueid %></td>
                                <td <%= option.checksubject ? `` : `hidden`%>><%= item.subject %></td>
                                <td <%= option.checktracker ? `` : `hidden`%>>
                                    <%if(item.tracker == 'Bug'){%>
                                    <h5><span class="badge badge-pill badge-warning"><%= item.tracker %></span></h5>
                                    <%} else if(item.tracker == 'Feature'){%>
                                    <h5><span class="badge badge-pill badge-succes"><%= item.tracker %></span></h5>
                                    <%}else{%>
                                    <h5><span class="badge badge-pill badge-info"><%= item.tracker %></span></h5>
                                    <%}%>
                                </td>
                                <td>
                                <a href="#">
                                    <button type="button" class="btn btn-outline-success">Edit</button>
                                    </a>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-danger"
                                            onclick="javascript: return confirm('Yakin data akan dihapus?')">Delete</button>
                                    </a>
                                </td>
                            </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item <%= page==1 ? 'disabled' : '' %>"><a class="page-link"
                                href="/projects<%= url.replace(`?page=${parseInt(page)}`, `?page=${ parseInt(page) - 1}`) %>">Previous</a>
                        </li>
                        <%for (let i=1; i <= pages; i++ ){%>
                        <li class="page-item <%= (i == page) ? 'active' : '' %> "><a class="page-link"
                                href="/projects<%= url.replace(`?page=${parseInt(page)}`,`?page=${i}`) %>"><%= i %></a>
                        </li>
                        <%}%>
                          <li class="page-item <%= page==pages ? 'disabled' : '' %>"> <a class="page-link disabled"
                            href="/projects<%= url.replace(`?page=${parseInt(page)}`,`?page=${parseInt(page) + 1}`) %>">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="add">
                    <a class="btn btn-outline-primary" href="/projects/issues/<%= projectid %>/add">Add Issues</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer')%>