<%- include('../../partials/header')%>
<%- include('../../partials/sidebar')%>
<div class="container">
    <!-- filter -->
    <h1 class="card-title">Projects Members</h1>
    <div class="name" style="background-color: rgb(157, 177, 177);">
        <h3 style="text-align: right;">
            <small class="text-black" style="padding: 30px;">#<%=projectid%></small>
        </h3>
    </div>
    <hr>
    <h3 class="card-title">Filters</h3>
    <div class="col-md-12">
        <form method="get" id="filterForm">
            <input type="hidden" name="page" value="1">
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">
                    <input class="form-check-input" name="checkId" type="checkbox" id="id">
                    ID
                </label>
                <div class="col-sm-10">
                    <input type="number" name="memberId" class="form-control" id="id" placeholder="ID">
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">
                    <input class="form-check-input" name="checkName" type="checkbox" id="name">
                    Subject
                </label>
                <div class="col-sm-10">
                    <input type="text" name="memberName" class="form-control" id="name" placeholder="Name">
                </div>
            </div>

            <div class="form-group row">
                <label for="position" class="col-sm-2 col-form-label">
                    <input class="form-check-input" name="checkPosition" type="checkbox" id="position">
                    Tracker
                </label>
                <div class="col-sm-10">
                    <select id="position" class="custom-select custom-select" name="position">
                        <option selected disabled>Choose the issues ...</option>
                        <option value="Bug">Bug</option>
                        <option value="Feature">Feature</option>
                        <option value="Support">Support</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-dark">Search</button>

                    <a href="#">
                        <button type="submit" class="btn btn-outline-dark">reset</button>
                    </a>

                </div>
            </div>
        </form>
    </div>

     <!-- checkbox -->
     <div class="container contable">
        <h3 class="card-title">Options</h3>
        <div class="col-sm-2">
            <form action="/projects/members/<%=projectid%>/option" method="POST">
                <p>Columns</p>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkid" value="true" id="oid" placeholder="Issues ID"
                            <%= option.checkid ? `checked` : `` %>>
                        <label class="form-check-label" for="oid">
                            ID
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkname" value="true" id="oname" placeholder="Subject Issues"
                            <%= option.checksubject ? `checked` : `` %>>
                        <label class="form-check-label" for="oname">
                            Subject
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkposition" value="true" id="oposition"
                            <%= option.checktracker ? `checked` : `` %>>
                        <label class="form-check-label" for="oposition">
                            Tracker
                        </label>
                    </div>
                </div>
                <div class="apply">
                    <button class="btn btn-outline-primary">Apply</button>
                </div>
            </form>
        </div>
</div>
<%- include('../../partials/footer')%>