<nav class="col-md-2 d-none d-md-block navbar-light bg-light sidebar shadow-md mt-2">
    <div class="sidebar-sticky" style="background-color: rgb(238, 238, 238);">
        <ul class="nav flex-column nav-pills" style="font-family: initial;">
            <li class="nav-item">
                <a class="nav-link <%= url == 'activity' ? 'active' : '' %>" href="/projects/overview/<%= projectid%>">
                    Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= url == 'activity' ? 'active' : '' %>" href="/projects/activity/<%= projectid%>">
                    Activity
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= url == 'members' ? 'active' : '' %>" href="/projects/members/<%= projectid%>">
                    Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= url == 'issues' ? 'active' : '' %>" href="/projects/issues/<%= projectid%>">
                    Issues
                </a>
            </li>

        </ul>


    </div>
</nav>