<%- include('../../partials/header')%>
<%- include('../../partials/sidebar')%>
<div class="container">
    <h1 class="card-title">Overview</h1>
    <div class="name" style="background-color: rgb(157, 177, 177);">
        <h3 style="text-align: right;">
            <small class="text-black" style="padding: 30px;">#<%=projectid%> <%= project.name%></small>
        </h3>
    </div>
    <hr>

    <div class="row">
        <div class="col-10 offset-1">
            <div class="card issue-tracker">
                <div class="card-header text-white bg-dark">
                    <h5>Issue Tracker</h5>
                </div>
                <div class="card-body" style="background-color: rgb(226, 226, 226);">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: rgb(235, 235, 235);">
                                <div class="row">
                                    <h6 class="col-sm-10"><strong>Bug</strong></h6>
                                    <div style="text-align: right;">
                                        <h5><span class="badge badge-warning" style="text-align: right;">
                                                <%=bugOpen%> Open/<%=bugTotal%>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item" style="background-color: rgb(235, 235, 235);">
                                <div class="row">
                                    <h6 class="col-sm-10"><strong>Feature</strong></h6>
                                    <div style="text-align: right;">
                                        <h5><span class="badge badge-primary" style="text-align: right;">
                                                <%=featureOpen%> Open/<%=featureTotal%>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" style="background-color: rgb(235, 235, 235);">
                                <div class="row">
                                    <h6 class="col-sm-10"><strong>Support</strong></h6>
                                    <div style="text-align: right;">
                                        <h5><span class="badge badge-info" style="text-align: right;">
                                                <%=supportOpen%> Open/<%=supportTotal%>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card issue-tracker">
                <div class="card-header text-white bg-dark">
                    <h5>Members</h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <%members.forEach((item) => {%>
                            <li class="list-group-item">
                                <div class="row">
                                    <h6 class="col-sm-9"><strong><%=item.firstname%> <%=item.lastname%></strong></h6>
                                    <div style="text-align: right;">
                                        <span class="badge badge-dark"
                                            style="text-align: right;"><%=item.role ? item.role.toUpperCase() : 'NOT ASSIGNED'%></span>
                                    </div>
                                </div>
                            </li>
                            <%})%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer')%>