<%- include('../partials/header')%>
<div class="container">
    <h1 class="card-title">Edit</h1>
    <hr>
    <h2 class="card-title" style="color: #747474; font-family: avro;">Edit User !</h2>
    <div class="col-md-12 b">
        <form action="" method="POST">
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">User ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id" name="userid" value="<%=data.userid%>"
                        placeholder="First Name" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputFirstname" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" name="firstName" class="form-control" id="inputFirstname"
                        value="<%=data.firstname%>" placeholder="First Name" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputLastname" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" name="lastName" class="form-control" id="inputLastname"
                        value="<%=data.lastname%>" placeholder="Last Name" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
                        value="<%=data.email%>" disabled>
                </div>
            </div>

            <div class="form-group row was-validated">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control is-invalid" id="inputPassword"
                        value="" placeholder="Masukkan Password" required>
                </div>
            </div>

            
            <div class="form-group row">
                <label for="position" class="col-sm-2 col-form-label">Position</label>
                <div class="col-sm-10">
                    <select name="position" id="position" class="form-control">
                        <option selected disabled> Choose default position ...</option>
                        <option class="form-control" name="position" value="Manager" <%= data.position = 'Manager' ? 'selected' : ''%>>
                            Manager</option>
                        <option class="form-control" name="position" value="Software Developer"
                            <%= data.position = 'Software Developer' ? 'selected' : ''%>>Software Developer
                        </option>
                        <option class="form-control" name="position" value="Quality Assurance"
                            <%= data.position = 'Quality Assurance' ? 'selected' : ''%>>Quality Assurance
                        </option>
                    </select>
                </div>
            </div>

                <div class="row b">
                    <legend class="col-form-label col-sm-2 pt-0">Type Job</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input id="fullTime" type="radio" name="type" class="form-check-input" value="Full Time"
                            <%= data.typejob == 'Full Time' ? 'checked' : '' %>>
                            <label for="fullTime" class="form-check-label">
                                Full Time 
                            </label>
                        </div>
    
                        <div class="form-check">
                            <input id="partTime" type="radio" name="type" class="form-check-input"
                                value="Part Time" <%= data.typejob == 'Part Time' ? 'checked' : '' %>>
                            <label for="partTime" class="form-check-label">
                                Part Time
                            </label>
                        </div>
                    </div>
                </div>    

            <div class="row b">
                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input id="admin" type="radio" name="role" class="form-check-input" value="Admin"
                        <%= data.role == 'Admin' ? 'checked' : '' %>>
                        <label for="admin" class="form-check-label">
                            Admin
                        </label>
                    </div>

                    <div class="form-check">
                        <input id="user" type="radio" name="role" class="form-check-input"
                            value="User" <%= data.role == 'User' ? 'checked' : '' %>>
                        <label for="user" class="form-check-label">
                            User
                        </label>
                    </div>
                </div>
            </div>    

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer')%>